/* src/components/UserProfile.css */

.user-profile {
    display: inline-block;
    align-items: left;
  }
  
  .user-profile img {
    border-radius: 50%;
    margin: 10px;
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }
  
  .user-info p {
    margin: 0;
  }
  